<% provide(:title, "All Contacts") %>

<h3 style="margin: 30px 0px">Listing Contacts</h3>

<% count = @contacts.offset %>
<% roles = Contact.roles.keys.to_a %>
<% priorities = Contact.priorities.keys.to_a %>

<%= will_paginate %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>No.</th>
      <%= render 'table_headers' %>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <% count += 1 %>
      <tr>
        <td><%= count %></td>
        <%= render partial: 'row',
                   object: contact,
                   locals: { roles: roles, priorities: priorities } %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br/>
<%= link_to 'New Contact', new_contact_path %>
